@{
    ViewData["Title"] = "Home";
}
<p>Welcome to my very simple (and very boring) To-Do application. To get started, select one of the items below. I hope you like it. Thank you.</p>
<div class="text-center">
    <ul class="list">
        <li class="list-item">
            <a class="list-link text" asp-area="" asp-controller="List" asp-action="Index">View To-Do List</a>
        </li>
        <li class="list-item">
            <a class="list-link text" asp-area="" asp-controller="List" asp-action="Create">Add New Item</a>
        </li>
    </ul>
</div>
