@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I don't have a privacy policy. Feel free to do whatever you want with this website. Just don't expect too much from it. &#128522;</p>
