@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<!--
    NOTE: I'm not a UX expert, but I've been on the receiving end of some awful error messages.
    Let's not make the user feel blamed for this. No scary or urgent styling is needed. No accusatory messaging.
    Instead, let's own the error and be as helpful as we can be.

    For a production application I would minimally get a real email address from a configuration file. Ideally though, I would replace the code
    below with a form that would submit the details and keep our actual email address hidden. Or better yet, I would submit the error to a help-desk
    system through an API call. I envision this could collect basic information about what the user was doing at the time and other diagnostic details as needed.

    For this challenge though, I'm keeping it very simple and just using a basic mailto link below.
-->
<h1 class="text-info">Oops</h1>
<h2 class="text-info">We made a mistake</h2>
<p>Sorry about that. Would you mind sending an email with the link below to help us determine what happened?</p>

<div class="text-center">
    <div>
        <ul class="list">
            <li class="list-item">
                <a class="list-link text" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
            </li>
            <li class="list-item">
                <a class="list-link text" href="mailto:todo@example.org?subject=Error&Body=@Model.ErrorMessage">Send Error Report</a>
            </li>
        </ul>
    </div>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>