@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<!--
    NOTE: I'm not a UX expert, but I've been on the receiving end of some awful error messages.
    Let's not make the user feel blamed for this. No scary or urgent styling is needed. No accusatory messaging.
    Instead, let's own the error and be as helpful as we can be.

    For a production application I would minimally get a real email address from a configuration file or database.
    Ideally, I would also replace this page with a controller and view to handle a post-back with dependency injection to work with a mail service.

    For this challenge though, I'm keeping it very simple and just using a basic mailto link below.
-->
<h1 class="text-info">Oops</h1>
<h2 class="text-info">We made a mistake</h2>
<p>Sorry about that. Would you mind sending an email with the link below to help us determine what happened?</p>

<div class="text-center">
    <div>
        <ul class="list">
            <li class="list-item">
                <a class="list-link text" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
            </li>
            <li class="list-item">
                <a class="list-link text" href="mailto:todo@example.org?subject=Error&Body=@Model.ErrorMessage">Send Error Report</a>
            </li>
        </ul>
    </div>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>